<footer>
    <div id="footerUl">
        <ul>
            <li><img src="/images/snowjoy-white-logo.PNG" alt="logo" width="150"></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>  
    <div id="information">
        <h4>Email: info@snowjoy.com</h4>
        <h4>Phone: 626-snowjoy</h4>
        <h4>Location: Los Angeles, CA</h4>
    </div>
    <div id="nondisclaimer">
        <div class="social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
        </div>
        <div class="copy">
            &copy; Copyright 2023 :: snowjoy.com
        </div>
    </div>
    <div id ="disclaimer">
        <p>This website is designed and created solely for educational purposes only at Westcliff University.<br> All contents are not intended for any commercial gain or use.</p>
    </div>
</footer>