<%- include('header'); %>
<%- include('nav'); %>
<main>
    <img id="homeImage" src="/images/home-image-1.jpg" alt="home image">
    <div class="jumbotron" >
        <h2>Welcome to SNOWJOY</h2>
        <p>We collect different brands of snow supplies for ski lovers.</p>
        <br>
        <p>Burton</p>
        <p>Nobady</p>
        <p>Salomon</p>
        <p>Nitro</p>
        <p>Lib Tech</p>
        <p>Never Summer</p>
    </div>
</main>

<%- include('footer'); %>