<header>
    <div id="header">
      <a href="/"><img src="/images/snowjoy-white-logo.PNG" alt="logo" width="300"></a>
    </div>
        <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/products">Products</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/login">Sign in/Register</a></li>
              <!-- <li><a href="/logout">Log Out</a></li> -->
          </ul>
        </nav>
</header>