<%- include('header'); %>
<%- include('nav'); %>

<div id="products">
    <div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="/images/snowboard-candy.jpg" alt="snowboard candy" width="250px">
            <h5>Snowboard Candy</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/snowboard-kitten.jpg" alt="snowboard kitten" width="250px">
            <h5>Snowboard Kitten</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/snowboard-girls.jpg" alt="snowboard girls" width="250px">
            <h5>Snowboard Girls</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/snowboard-summer.jpg" alt="snowboard summer" width="250px">
            <h5>Snowboard Summer</h5>
            <p>Sold By Nobaday</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="/images/snowboard-sunset.jpg" alt="snowboard sunset" width="250px">
            <h5>Snowboard Sunset</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/snowboard-dawn.jpg" alt="snowboard dawn" width="250px">
            <h5>Snowboard Dawn</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/snowboard-blinding.jpg" alt="snowboard blinding" width="250px">
            <h5>Snowboard Blinding</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/snowboard-boots.jpg" alt="snowboard boots" width="250px">
            <h5>Snowboard Boots</h5>
            <p>Sold By Nobaday</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="/images/jacket-black.jpg" alt="jacket black" width="250px">
            <h5>Snow Jacket</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/jacket-white.jpg" alt="jacket white" width="250px">
            <h5>Snow Jacket</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/jacket-bnw.jpg" alt="jacket black and white" width="250px">
            <h5>Snow Jacket</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/mitten.jpg" alt="mitten" width="250px">
            <h5>Snow Mitten</h5>
            <p>Sold By Nobaday</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="/images/protective-knee-pads.jpg" alt="protective-knee-pads" width="250px">
            <h5>Protective Knee Pads</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col">
            <img src="/images/goggles.jpg" alt="goggles" width="250px">
            <h5>Snow Goggles</h5>
            <p>Sold By Nobaday</p>
        </div>
        <div class="col"><img src="/images/snowjoy-white-logo.png" alt="logo" width="250px"></div>
        <div class="col"><img src="/images/snowjoy-white-logo.png" alt="logo" width="250px"></div>
    </div>
    </div>
</div>

<%- include('footer'); %>