<%- include('header'); %>
<header>
    <div id="header">
      <a href="/"><img src="/images/snowjoy-white-logo.PNG" alt="logo" width="300"></a>
    </div>
</header>


<table id="table">
         <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
         </tr>
         <tr>
            <td>user.username</td>
            <td>user.email</td>
            <td>user.phone</td>
         </tr>
</table>