<%- include('header'); %>

<header>
    <div id="header">
      <a href="/"><img src="/images/snowjoy-white-logo.PNG" alt="logo" width="300"></a>
    </div>
</header>
<main>
    <div id="profile">
        <h4>
            Thank you! <br> You successfully create your account.
        </h4>
        <p>Go back to <a href="/login">Login</a> and enjoy!</p>
    </div>
</main>